{% load static %}

{% block content %}
<h1>Lista de Campanhas</h1>

<table>
<thead>
    <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Status</th>
    </tr>
</thead>
<tbody>
    {% for campaign in campaigns %}
    <tr>
        <td>{{ campaign.id }}</td>
        <td>{{ campaign.name }}</td>
        <td>{{ campaign.status }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhuma campanha encontrada.</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}

{% block script %}
<!-- RAW Codes for main -->
<script type="text/javascript">
</script>
{% endblock script %}